<h1>Form Parameters</h1>
<p>The example will display submitted form parameters direcly via the params hash</p>
<form action="/display" method="post" accept-charset="utf-8">
	<input type="text" name="post[fname]" value="Type your first name.." id="fname">
	<input type="text" name="post[lname]" value="Type your last name..." id="lname">
	<p><input type="submit" value=".. and display it!!"></p>
</form>