<h1>Form parameters display</h1>
<p>You had entered:</p>
<p>First Name - <%= params[:post][:fname]%></p>
<p>Last name - <%= params[:post][:lname]%></p>
<p>Click <a href="/">here</a> to try a new name.</p>